<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-sm-3 col-lg-3 col-md-3">
                    <div class="team-member">
                        <img src="img/about/npapasa.jpg" class="img-responsive img-circle" alt="">
                        <h4>&nbsp;</h4>
                        <ul class="list-inline social-buttons">
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                  <div class="row">
                    <div class="col-lg-12">
			    <p class="large text-muted">Senior Data Scientist in <a href="https://www.priceline.com">Priceline</a>, working on Maching Learning and NLP. I have experience in natural language processing, machine learning, web development, and teaching.</p>

          <p class="large text-muted">In the past, I have worked on NLP and machine learning research and engineering, in <a href="https://www.linkedin.com/company/huawei-technologies-research-development-uk-ltd">Huawei UK R&D</a> Edinburgh Research Centre, and <a href="http://www.ilsp.gr/">Institute for Language and Speech Processing, RC "Athena"</a>.

			    <p class="large text-muted">I completed a PhD in the <a href = "http://edinburghnlp.inf.ed.ac.uk//">EdinburghNLP</a> group
                            of the <a href="http://www.ed.ac.uk/informatics/">School of Informatics</a>, <a href="http://www.ed.ac.uk/">University of Edinburgh</a>, working within the <a href="https://bollin.inf.ed.ac.uk/">the cohort NLP lab</a> and being supervised by <a href="http://homepages.inf.ed.ac.uk/scohen/">Shay Cohen</a>. My <a href="https://era.ed.ac.uk/handle/1842/36966">PhD research</a> focused on multimodal applications and multi-view representation learning.</p>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                          <p class="large text-muted">I am also an aspiring musician and I am very curious about computational musicology!</p>

                          <p class="large text-muted">You can view a full resume <a href="files/resume-en.pdf">here</a>.</p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </section>
