    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-heading">nikos [dot] papasa [at] gmail [dot] com</h3>
                    <h3 class="section-subheading text-muted">
                    </h3>
                </div>
            </div>
        </div>
    </section>
