  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
<!--                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>-->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>design: <a href="https://github.com/y7kim/agency-jekyll-theme">agency jekyll</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
