<section id="publications">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Publications</h2>
                <h3 class="section-subheading text-muted">&nbsp;</h3>
            </div>
        </div>
        
        {% for paper in site.publications %}
        <div class="row paper">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div><i>{{ paper.authors }}</i></div>
                <span class="paper-title"><a href="{{ paper.url }}">{{ paper.title }}</a></span>
                <span class="text-muted">{{ paper.published }}</span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 buttons">
                {% if paper.pdf %}
                <a href="{{ paper.pdf }}">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if paper.bib %}
                <a href="{{ paper.bib }}">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if paper.link %}
                <a href="{{ paper.link }}">
                    <i class="fa fa-columns" aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
