<!DOCTYPE html>
<html>

  {% include head.html %}
  {% seo %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include about.html %}
    {% include publications.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>
